@import "../variables.css";

.home__title-container {
  display: flex;
  align-items: center;
}

.home__title-container .home__title-container__title {
  color: #333;
  font: var(--main-font-family), arial, sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}

.home__subtitle {
  color: var(--primary-color);
  font: arial, sans-serif;
  font-weight: 500;
  font-size: var(--font-size);
  line-height: 24px;
}
