@import "../../variables.css";

.generator {
  border: 1px solid var(--border-color);
  border-radius: 4px;

  width: 100%;

  margin-top: 2rem;
}

.generator__content {
  border-top: 1px solid var(--border-color);
  padding: 1rem;

  background-color: #ffffff;
}
