@import "../../../variables.css";

.box {
  border: 1px solid #e0e0e0;

  inline-size: 100%;
  block-size: 175px;

  padding: 1rem;
  color: var(--secondary-color);

  border-radius: 0 0 4px 4px;
}

.box__total {
  display: flex;

  /* color: var(--secondary-color); */
}

.box__total__words,
.box__total__characters,
.box__title-chart {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: var(--font-size);
  line-height: 18px;

  margin: 0;
}

.box__total__characters {
  margin-left: 5rem;
}

.box__title-chart {
  margin-top: 2rem;
}
