:root {
  --main-font-family: "Montserrat";
  --secondary-font-family: arial;
  --font-size: 16px;
  --primary-color: #333;
  --secondary-color: #4f4f4f;
  --border-color: #e0e0e0;
  --border-radius: 4px;
}
